.backdrop {
  display: flex;
  flex-flow: column-reverse nowrap;
  background-image: url(../public/heart_logo.jpeg);
  background-size: 100px;
  
}
.page1{
  display: flex;
  flex-flow: column nowrap;
  
}
.text{
  align-self: center;
  margin-top: 100px;
  margin-bottom: -150px;
  font-family: 'Indie Flower';
  font-size: 10vw;
}
.button{
  align-self: center;
  margin-top:-70px;
  font-size: 2vw;
}